<!doctype html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<% include ../pages/index %>
</head>
<body>
	<div class='container-fluid'>
		<div class="panel panel-default">
			<div class="panel-body">
				<form class='form-horizontal'>
					<div class="form-group">
						<label for="application" class="col-sm-2 control-label">Application:</label>
						<div class="col-sm-4">
							<input type='text' id="txtApplication" placeholder='Application' disabled />
						</div>
					</div>
					<div class="form-group">
						<label for="module" class="col-sm-2 control-label">Module:</label>
						<div class="col-sm-4"><input type='text' id='txtmodule' placeholder='Module' disabled/></div>
					</div>
					<div class="form-group">
						<label for="function_usergroup" class="col-sm-2 control-label">Function / Usergroup:</label>
						<div class="col-sm-4"><input type='text' id='txtfuncusrgrp' placeholder='Function / Usergroup' disabled/>	</div>
					</div>
					<div class="form-group">
						<label for="qualifier_usertype" class="col-sm-2 control-label">Qualifier / Usertype</label>
						<div class="col-sm-4"><input type='text' id='txtqualusrtype' placeholder='Qualifier / Usertype' disabled/></div>
					</div>
					<div class="form-group">
						<label for="module" class="col-sm-2 control-label">Approver:</label>
						<div class="col-sm-4"><input type='text' id='txtapprover' placeholder='Approver' disabled/></div>
					</div>
				</form>
			</div>
			 <div class="btn-group">
			    <button type="button" class="btn btn-default" id='btnApprove'>
						<span class="btn-default"></span>Approve
				</button>
				<button type="button" class="btn btn-default" id='btnReject'>
						<span class="btn-default"></span>Reject
				</button>
			</div>
		</div>
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
	<script type="text/javascript" src='/js/manageSR.js'></script>
</body>

<div id="dialog-message">
</div>
</html>