<meta charset="UTF-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/js/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/js/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/js/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" href="/js/jquery-ui/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/js/jquery-ui/themes/base/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>



